.confirm-button {
    background-color:#198754;
    color:white;
    border:1px solid white;
    padding:0.3rem 1.5rem;
    border-radius:6px;
    margin: 4px 10px 4px 10px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

#cancel-button{
    background-color:rgb(177, 62, 62);
}

.confirm-button:hover {
    transform: scale(1.1);
}