 <app-navbar></app-navbar>
    <div class="main-container">
        <div class="profile">
            <div class="details">
                <img *ngIf="doctorDetails.profileImgUrl" [src]="doctorDetails.profileImgUrl" alt="">
                <img *ngIf="!doctorDetails.profileImgUrl" src="/assets/default-pic.jpg" alt="">
            </div>
        </div>
        <div class="booking">
            <div id="booking-title" class="w-100 text-center">
                <h5>SELECT THE DATE AND TIME FOR YOUR APPOINTMENT:</h5>
            </div>
            <div class="reviews">
                <h4 style="color: var(--main-color)">Top Reviews</h4>
                <div class="feedback-container">
                    <owl-carousel-o [options]="reviewOptions">
                        <ng-template carouselSlide *ngFor="let fb of feedback">
                            <div class="owl-item2">
                                <h5 id="">{{fb.review}}</h5>
                                <h6 class="card-text">Rating: <span *ngFor="let star of getStarArray(fb.rating)"><i
                                    class="bi bi-star-fill" style="color: rgb(216, 151, 30)"></i></span></h6>
                            </div></ng-template>  
                    </owl-carousel-o>
                </div>
                <ng-template #elseBlock>
                    <p>No reviews</p>
                </ng-template>
            </div>
            <div class="carousel-container">
                <owl-carousel-o [options]="customOptions">
                    <ng-template carouselSlide *ngFor="let date of availableDates">
                        <div class="owl-item1" [class.active]="isActive(date)" (click)="onDateClick(date)">
                            <h4 id="date">{{date| date:"MMM d"}}</h4>
                            <p class="m-0">{{date| date:"EEEE"}}</p>
                        </div></ng-template>  
                </owl-carousel-o>
           </div>

            <div class="booking-slots ">
                  <div class="button-list">
                    <button *ngFor="let slot of timeMap; let i = index" type="button" 
                    class="btn slot-button" 
                    (click)="onSlotClick(slot,i+1)" 
                    [class.green]="selectedSlot === slot"
                    [class.lightGreen]="isSlotBookedByCurrentPatient(i+1)"
                    [class.red]="isSlotBookedByOtherPatient(i+1)"
                    [class.yellow]="isSlotBookedWithOtherDoctor(i+1)"
                    [disabled]="selectedDate == '' || isSlotDisabled(i+1)"
                    >{{slot}}</button>
            </div>
            <button type="submit" class=" btn btn-danger btn-book">Book</button>
        </div>
    </div>
